<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>DP||NN:Config</title>

    <link rel="stylesheet" th:href ="@{/css/bootstrap.min.css}"/>

    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet"/>

    <link href="css/jquery.timepicker.css"
          th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>

    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-more.js"></script>
    <script src="/js/highcharts-exporting.js"></script>



    <script	src="/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "bootstrap.css" />


</head>
<body>

<div class="bs-example" >
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #00008B">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse"
                        data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a style="color: white" href="/home" class="navbar-brand">Diabete Prediction</a>
                <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div sec:authorize="hasAuthority('ADMIN')" id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li><a style="color: white" href="/logout"><span
                            class="glyphicon glyphicon-user"></span>Logout </a></li>
                </ul>
            </div>



        </div>
    </nav>
</div>
<br/>
<br/>
<br/>

<header class="container">
    <div align="center">

        <div class="jumbotron">

            <div class="row" th:if="${#strings.isEmpty(successMessage)}">

                <div th:class="${css} + 'alert-dismissible'" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong> <span th:utext="${msg}"></span></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <form autocomplete="off" action="#"
                          th:object="${neuralNetSetting}" method="post" class="form-horizontal"
                          role="form">
                        <!--     <h2 align="center">Registration Form</h2>-->



                        <h4 style="text-align:left">N.N Configuration:</h4>



                            <div class="col-sm-9">
                                <input type="hidden" th:field="*{id}"/>
                            </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('epoch')}" th:errors="*{epoch}"
                                       class="validation-message"></label><label>Iterations </label>
                                <input type="number" th:field="*{epoch}" id ="epoch"
                                       class="form-control" required/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('learningRate')}" th:errors="*{learningRate}"
                                       class="validation-message"></label><label>Learning Rate</label>
                                <input type="number" th:field="*{learningRate}" id ="glucose" max="1" min="0" step="0.1"
                                        class="form-control" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('hiddenNeurons')}" th:errors="*{pregnancies}"
                                       class="validation-message"></label><label> Hidden Layer Neurons</label>
                                <input type="number" th:field="*{hiddenNeurons}" id ="hiddenNeurons"
                                       placeholder="hiddenNeurons" class="form-control" required/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('inputNeurons')}" th:errors="*{inputNeurons}"
                                       class="validation-message"></label><label>Input Neurons</label>
                                <input type="number" th:field="*{inputNeurons}" id ="inputNeurons"
                                        class="form-control" th:value="${neuralNetSetting.inputNeurons}" readonly/>
                            </div>
                        </div>





                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('outputNeurons')}" th:errors="*{outputNeurons}"
                                       class="validation-message"></label><label> Output Layer Neurons</label>
                                <input type="number" th:field="*{outputNeurons}" id ="outputNeurons"
                                       th:value="${neuralNetSetting.outputNeurons}"class="form-control" readonly/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" formaction="/save-neural-net-setting" class="btn btn-primary ">Save</button>
                                <a href="/train-test" class="btn btn-warning ">Training</a>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
</header>

<script>
    $(document).ready(function () {
        $('.date').datepicker({dateFormat: 'dd-mm-yy'});
    });


</script>

<script>


    $(function () {



        $('#container').highcharts({

                chart: {
                    type: 'gauge'
                },

                title: {
                    text: 'Diabetes Risk'
                },

                pane: {
                    startAngle: -90,
                    endAngle: 90,
                    background: null
                },

                // the value axis
                yAxis: {
                    min: 0,
                    max: 100,

                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 10,
                    minorTickPosition: 'inside',
                    minorTickColor: '#666',

                    tickPixelInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#666',
                    labels: {
                        step: 2,
                        rotation: 'auto'
                    },
                    title: {
                        text: '%'
                    },
                    plotBands: [{
                        from: 0,
                        to: 40,
                        color: '#55BF3B' // green
                    }, {
                        from: 41,
                        to: 49,
                        color: '#DDDF0D' // yellow
                    }, {
                        from: 50,
                        to: 100,
                        color: '#DF5353' // red
                    }, {
                        from: 45,
                        to: 55,
                        color: '#6677ff',
                        innerRadius: '100%',
                        outerRadius: '110%'
                    }]
                },

                series: [{
                    name: 'Speed',
                    data: [0],
                    tooltip: {
                        valueSuffix: ' km/h'
                    }
                }]

            },
            // Add update  life
            function (chart) {


                if (!chart.renderer.forExport) {
                    var point = chart.series[0].points[0],
                        newVal,inc= $('#score').val();

                        // take value from diagnosis



                    newVal = Math.round(point.y + inc);


                    console.log("value of new value" + newVal);
                    if (newVal < 0 || newVal > 100) {
                        newVal = point.y - inc;
                    }

                    point.update(newVal);

                }
            });
    });

</script>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>DP||NN:Config</title>

    <link rel="stylesheet" th:href ="@{/css/bootstrap.min.css}"/>

    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet"/>

    <link href="css/jquery.timepicker.css"
          th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>

    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-more.js"></script>
    <script src="/js/highcharts-exporting.js"></script>



    <script	src="/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "bootstrap.css" />


</head>
<body>

<div class="bs-example" >
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #00008B">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse"
                        data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a style="color: white" href="/home" class="navbar-brand">Diabete Prediction</a>
                <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div sec:authorize="hasAuthority('ADMIN')" id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li><a style="color: white" href="/logout"><span
                            class="glyphicon glyphicon-user"></span>Logout </a></li>
                </ul>
            </div>



        </div>
    </nav>
</div>
<br/>
<br/>
<br/>

<header class="container">
    <div align="center">

        <div class="jumbotron">

            <div class="row" th:if="${#strings.isEmpty(successMessage)}">

                <div th:class="${css} + 'alert-dismissible'" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong> <span th:utext="${msg}"></span></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-md-offset-4">
                    <form autocomplete="off" action="#"
                          th:object="${neuralNetSetting}" method="post" class="form-horizontal"
                          role="form">
                        <!--     <h2 align="center">Registration Form</h2>-->



                        <h4 style="text-align:left">N.N Configuration:</h4>



                            <div class="col-sm-9">
                                <input type="hidden" th:field="*{id}"/>
                            </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('epoch')}" th:errors="*{epoch}"
                                       class="validation-message"></label><label>Iterations </label>
                                <input type="number" th:field="*{epoch}" id ="epoch"
                                       class="form-control" required/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('learningRate')}" th:errors="*{learningRate}"
                                       class="validation-message"></label><label>Learning Rate</label>
                                <input type="number" th:field="*{learningRate}" id ="glucose" max="1" min="0" step="0.1"
                                        class="form-control" required/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('hiddenNeurons')}" th:errors="*{pregnancies}"
                                       class="validation-message"></label><label> Hidden Layer Neurons</label>
                                <input type="number" th:field="*{hiddenNeurons}" id ="hiddenNeurons"
                                       placeholder="hiddenNeurons" class="form-control" required/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('inputNeurons')}" th:errors="*{inputNeurons}"
                                       class="validation-message"></label><label>Input Neurons</label>
                                <input type="number" th:field="*{inputNeurons}" id ="inputNeurons"
                                        class="form-control" th:value="${neuralNetSetting.inputNeurons}" readonly/>
                            </div>
                        </div>





                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('outputNeurons')}" th:errors="*{outputNeurons}"
                                       class="validation-message"></label><label> Output Layer Neurons</label>
                                <input type="number" th:field="*{outputNeurons}" id ="outputNeurons"
                                       th:value="${neuralNetSetting.outputNeurons}"class="form-control" readonly/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" formaction="/save-neural-net-setting" class="btn btn-primary ">Save</button>
                                <a href="/train-test" class="btn btn-warning ">Training</a>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>
</header>

<script>
    $(document).ready(function () {
        $('.date').datepicker({dateFormat: 'dd-mm-yy'});
    });


</script>

<script>


    $(function () {



        $('#container').highcharts({

                chart: {
                    type: 'gauge'
                },

                title: {
                    text: 'Diabetes Risk'
                },

                pane: {
                    startAngle: -90,
                    endAngle: 90,
                    background: null
                },

                // the value axis
                yAxis: {
                    min: 0,
                    max: 100,

                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 10,
                    minorTickPosition: 'inside',
                    minorTickColor: '#666',

                    tickPixelInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#666',
                    labels: {
                        step: 2,
                        rotation: 'auto'
                    },
                    title: {
                        text: '%'
                    },
                    plotBands: [{
                        from: 0,
                        to: 40,
                        color: '#55BF3B' // green
                    }, {
                        from: 41,
                        to: 49,
                        color: '#DDDF0D' // yellow
                    }, {
                        from: 50,
                        to: 100,
                        color: '#DF5353' // red
                    }, {
                        from: 45,
                        to: 55,
                        color: '#6677ff',
                        innerRadius: '100%',
                        outerRadius: '110%'
                    }]
                },

                series: [{
                    name: 'Speed',
                    data: [0],
                    tooltip: {
                        valueSuffix: ' km/h'
                    }
                }]

            },
            // Add update  life
            function (chart) {


                if (!chart.renderer.forExport) {
                    var point = chart.series[0].points[0],
                        newVal,inc= $('#score').val();

                        // take value from diagnosis



                    newVal = Math.round(point.y + inc);


                    console.log("value of new value" + newVal);
                    if (newVal < 0 || newVal > 100) {
                        newVal = point.y - inc;
                    }

                    point.update(newVal);

                }
            });
    });

</script>

</body>
</html>