<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>DP||Patient:Registration</title>

    <link rel="stylesheet" th:href ="@{/css/bootstrap.min.css}"/>

    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet"/>

    <link href="css/jquery.timepicker.css"
          th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>



    <script	src="/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "bootstrap.css" />


</head>
<body>

<div class="bs-example" >
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #00008B">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse"
                        data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a style="color: white" href="/home" class="navbar-brand">Diabete Prediction</a>
                <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div sec:authorize="hasAuthority('ADMIN')" id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li><a style="color: white" href="/logout"><span
                            class="glyphicon glyphicon-user"></span>Logout </a></li>
                </ul>
            </div>



        </div>
    </nav>
</div>
<br/>
<br/>
<br/>

<header class="container">
    <div align="center">

        <div class="jumbotron">

            <div class="row" th:if="${#strings.isEmpty(successMessage)}">

                <div th:class="${css} + 'alert-dismissible'" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong> <span th:utext="${successMessage}"></span></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <form autocomplete="off" action="#" th:action="@{/patient-save}"
                          th:object="${patient}" method="post" class="form-horizontal"
                          role="form">
                        <!--     <h2 align="center">Registration Form</h2>-->



                        <h3 style="text-align:left">Patient Registration</h3>


                        <div class="form-group" id="name">

                            <div class="col-sm-9">
                                <input type="hidden" th:field="*{id}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{firstName}" id ="firstName"
                                       placeholder="First Name" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                       class="validation-message"></label>
                                <input type="text" th:field="*{lastName}" id ="lastName"
                                       placeholder="Last Name" class="form-control"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"
                                       class="validation-message">Gender</label>

                                <select  id ="gender" class="form-control" th:field="*{gender}">
                                    <option value="">--Select Gender--</option>
                                    <option th:each="gender : ${gender}"
                                            th:value="${{gender}}"
                                            th:text="${gender}">
                                        Cinema
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" >
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}"
                                       class="validation-message"></label>
                                <input  th:field="*{dateOfBirth}" name="dateOfBirth" id ="dateOfBirth"
                                        placeholder="D.O.B" class="form-control date"/>

                            </div>

                        </div>





                        <div class="form-group">
                            <div class="col-sm-9">
                                <input type="text" th:field="*{idNumber}" placeholder="National ID"
                                       id="nationalId"   class="form-control"/> <label
                                    th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"
                                    class="validation-message"></label>
                            </div>
                        </div>




                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</header>

<script>
    $(document).ready(function () {
        $('.date').datepicker({dateFormat: 'dd-mm-yy'});
    });


</script>

</body>
</html>