<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <title>DP || Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>


    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>

</head>

<body>
<div class="bs-example" >
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #00008B">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse"
                        data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a href="/home" class="navbar-brand">Diabetes Prediction</a>
                <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div th:if="${role=='ADMIN'}"id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li ><a style="color: white" href="/add-neural-net-setting"><span
                            class="glyphicon glyphicon-log-out"></span>Configuration </a></li>


                    <li><a style="color: white" href="/logout"><span
                            class="glyphicon glyphicon-log-out"></span>Logout </a></li>
                </ul>
            </div>

            <div th:if="${role=='NURSE'}" id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li><a style="color: white" href="/logout"><span
                            class="glyphicon glyphicon-log-out"></span>Logout </a></li>
                </ul>
            </div>

        </div>

    </nav>
</div>
<br/>
<br/>
<br/>

<div class="container">
    <div class="bgc">
        <h3>Patient Search</h3>
        <div>
            <form class="form-horizontal" th:object="${patient}" th:action="@{/search-utils}" method="post">
                <div class="row">

                    <label class="col-sm-2 control-label">Last Name/First Name:</label>
                    <div class="col-sm-8">
                        <input type="text" autofocus="true" required="true"
                               id="auto" th:title="#{UserIdAuto}"
                               placeholder="Type last name, if there are many choose one of them"
                               class="form-control" th:field="*{lastName}" onkeyup="loadUsers()"/>

                    </div>
                    <button  value="Search" th:value="Search"
                             class="btn btn-lg btn-primary" ><span class="glyphicon glyphicon-search"></span></button>
                    <a  class="btn btn-lg btn-primary" href="/patient-add">New</a>
                </div>

                <!--<div class="row">-->
                    <!--<input type="submit" value="Search" th:value="Search"-->
                           <!--class="btn btn-default" />-->
                <!--</div>-->
            </form>
            <div th:if="${not #lists.isEmpty(search)}">
                <p style="text-align: center; color: #08088A; font-size: 16px;">Registered Patients</p>
                <table id="deplist" class="display" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>National Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tr th:each="patient : ${search}">
                        <td th:text="${patient.idNumber}">Id</td>
                        <td th:text="${patient.firstName}">First Name</td>
                        <td th:text="${patient.lastName}">Last Name</td>
                        <td>

                            <a th:href="@{'/patient/id'(id=${patient.id})}"
                               class="glyphicon glyphicon-plus btn btn-primary">View </a>

                        </td>


                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="footer">

</div>

<script>
    $("#auto").focus(function () {
        $("#auto").autocomplete("option", "minLength", 3);
        $("#auto").autocomplete("option", "delay", 500);
    });
    $(document).ready(function () {
        $("#auto").autocomplete({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            source: function (request, response) {
                $.getJSON("/search-utils//getPatients/", {lastName: request.term}, function (result) {
                    response($.map(result, function (patient) {
                        return {
                            label: patient.lastName,
                            value: patient.lastName
                        };

                    }));
                });
            }
        }).autocomplete("widget").addClass("fixed-height");

    });
</script>

<script>
    $(document).ready(function () {
        $('table.display').DataTable();
    });

</script>

<script>
    function loadUsers() {

        $("#auto").autocomplete("option", "minLength", 3);
        $("#auto").autocomplete("option", "delay", 500);
        $("#auto").autocomplete({
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            source: function (request, response) {
                $.getJSON("/search-utils/getPatients/", {lastName: request.term}, function (result) {
                    response($.map(result, function (patient) {
                        return {
                            label: patient.lastName,
                            value: patient.lastName
                        };

                    }));
                });
            }
        }).autocomplete("widget").addClass("fixed-height");
    }
</script>





</body>
</html>