<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <title>DP || Patient</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}" />
        <link rel="stylesheet" th:href ="@{/css/bootstrap.min.css}"/>
        <meta charset='utf-8' content="Cory Sanoy" name="Author" />

        <script	src="/js/jquery.js"></script>
        <script	src="/js/jquery.dataTables.min.js"></script>
        <script	src="/js/bootstrap.min.js"></script>



    </head>
    <body>

        <div class="bs-example" >
            <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #00008B">

                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" data-target="#navbarCollapse"
                                data-toggle="collapse" class="navbar-toggle">
                            <span class="sr-only">Toggle navigation</span> <span
                                class="icon-bar"></span> <span class="icon-bar"></span> <span
                                class="icon-bar"></span>
                        </button>
                        <a href="/home" class="navbar-brand">Diabetes Prediction</a>
                        <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
                    </div>

                    <!-- Collection of nav links and other content for toggling -->
                    <div sec:authorize="hasAuthority('ADMIN')" id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">


                            <li><a style="color: white" href="/logout"><span
                                        class="glyphicon glyphicon-log-out"></span>Logout </a></li>
                        </ul>
                    </div>



                </div>
            </nav>
        </div>
        <br/>
        <br/>
        <br/>
        <div class = "container-fluid">


            <div class="row" th:object="${patient}">

                <div class="col-md-6">
                    <table class="table table-striped" style="width:600px;">
                        <tr>
                            <th>
                                Patient
                            </th>
                            <td>


                                <span th:text="${patient.firstName + ' ' +patient.lastName  }"></span><span>    </span> <a th:href="@{'/addsymptoms/patient_id'(patient_id=${patient.id})}"style="float: right" class="btn btn-warning glyphicon glyphicon-share">New Symptoms</a>

                            </td>

                        </tr>

                        <tr>
                            <th>Age : </th><td> <span th:text="${patient.age}"></span></td>
                        </tr>


                    </table>
                </div>




            </div>

            <span th:utext="${msg}" class="text-success"></span>
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#attendance">Diagnosis History</a></li>
            </ul>
            <br/>


            <div class="tab-content">

              <div class="container">
                  <div class="jumbtron">
                      <div id="client" class="tab-pane fade in active">
                          <table class="display" cellspacing="0" width="100%">
                              <caption>Diagnosis History</caption>
                              <thead>
                              <tr style="background-color: transparent">
                                  <th scope="col">Diagnosis Date</th>
                                  <th scope="col">Diagnosis</th>
                                  <th scope="col">Percentage Risk(%)</th>

                              </tr>
                              </thead>
                              <tbody>
                              <tr th:each="diagnosis : ${diagnosisList}">
                                  <td th:text="${diagnosis.diagnosisDate}">George</td>

                                  <td th:text="${diagnosis.result}">George</td>

                                  <td  th:text="${#numbers.formatDecimal((diagnosis.score),0,2,'POINT')}">
                              </tr>
                              </tbody>
                          </table>


                      </div>

                  </div>

              </div>



            </div>



        </div>


        <script>
            $(document).ready(function () {
                $('table.display').DataTable();
            });

        </script>
    </body>
</html>