<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Cervical Cancer Prediction || Home</title>
</head>
<body>
<br/>
<br/>
<div layout:fragment="content" th:remove="tag">
    <h1> Heart Disease Monitor</h1>

    <form autocomplete="off" action="#" th:action="@{/data-manipulation/add}"
          th:object="${dataManipulation}" method="post" class="form-horizontal"
          role="form">
        <!--     <h2 align="center">Registration Form</h2>-->


        <h3 style="text-align:left">Specify How you want to change the original dataset</h3>


        <div class="form-group" id="name">

            <div class="col-sm-9">
                <input type="hidden" th:field="*{id}"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9">
                <label th:if="${#fields.hasErrors('percentageMissing')}" th:errors="*{percentageMissing}"
                       class="validation-message">Missing Percentage</label>

                <select id="missing" class="form-control" th:field="*{percentageMissing}">
                    <option value="">--Select Missingness--</option>
                    <option th:each="mv : ${missingValueList}"
                            th:value="${{mv}}"
                            th:text="${mv}">
                        Cinema
                    </option>
                </select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block">Save</button>
            </div>
        </div>

    </form>
</div>

</body>
</html>

