<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<body>

<link rel="stylesheet" type="text/css" th:href="@{/css/css/bootstrap.css}"/>
<!------ Include the above in your HEAD tag ---------->

<div class="container" layout:fragment="content" th:remove="tag">
    <div class="row">
        <h1><span align="center" th:utext="${title}"></span> - Company</h1>
    </div>
    <div class="row">
        <a style="float: right" class="btn btn-primary" th:href="@{/data-manipulation/add}"> New</a>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-login">
                <div class="panel-heading">


                    <hr>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12">

                            <span th:utext="${msg}" class="text-success"></span>


                            <table id="usersList" class="display" cellspacing="0" width="100%" style="opacity: 0.9">
                                <br/>

                                <thead>
                                <tr>
                                    <th scope="col"> Id</th>
                                    <th scope="col"> Missingess(%)</th>

                                    <th scope="col">Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="dm : ${list}">
                                    <td th:text="${dm.id}">Name</td>
                                    <td th:text="${dm.percentageMissing}">Category</td>
                                    <td>
                                        <a th:href="@{'/data-manipulation/add/' + ${dm.id} }"
                                           class="btn btn-warning">Update</a>
                                        <a th:href="@{'/data-manipulation/delete/' + ${dm.id} }"
                                           class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>