<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      lang="en"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Cervical Cancer Prediction || Home</title>
</head>
<body>
<br/>
<br/>
<div layout:fragment="content" th:remove="tag">
    <div class="container" style="padding: 10px 10px;">
        <h3>Upload Data(only *.csv format accepted)</h3>
        <div class="row" th:if="${msg}" style="color: green" role="alert">
            <strong> <span  th:utext="${msg}"></span></strong>
        </div>
        <div class="row">
            <div class="well">
                <div class="row">

                    <div class="col col-md-8">
                        <form class="form-inline" id="upload-file-form"
                              th:action="@{/upload-csv}" method="POST"
                              enctype="multipart/form-data">
                            <div class="form-group">
                                <div th:if="${uploadState==1}">
                                    <h3>DATASET ALREADY EXIST</h3>
                                    <p>Delete File ? : <a th:href="@{/delete-dataset}">YES</a></p>
                                    <p>Preview File ? : <a th:href="@{/preview-dataset}">YES</a></p>
                                </div>

                                <div th:if="${uploadState==0}">
                                    <label for="files">Browse for a CSV:</label> <input
                                        type="file" id="files" class="form-control"
                                        accept=".csv" name="uploadFile" required/>

                                    <button type="submit" id="save-file-input" class="btn btn-primary">Upload</button>
                                </div>

                            </div>
                        </form>

                    </div>

                </div>
            </div>
        </div>
        <div class="row" id="parsed_csv_list"></div>
        <div th:if="${uploadState==0}">
            <a style="float: left" class="btn  btn-danger" href="/home">Back</a>

        </div>

        <div th:if="${uploadState==1}">
            <a style="float: left" class="btn  btn-danger" th:href="@{/}">Back</a>
            <a style="float: right" class="btn  btn-warning" th:href="@{/original-dataset-info}">Analyze</a>
        </div>
    </div>
</div>

<script src="js/papaparse.min.js"></script>

<script>

    $(document).ready(function () {
        $("#save-file-input").on("click", uploadFile);
    });

    /**
     * Upload the file sending it via Ajax at the Spring Boot server.
     */
    function uploadFile() {
        $.ajax({
            url: "/uploadcsv",
            type: "POST",
            data: new FormData($("#upload-file-form")[0]),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function () {
                // Handle upload success
                $("#upload-file-messages").text("File Upload Operation is Successful").addClass("alert alert-success");
            },
            error: function () {
                // Handle upload error
                $("#upload-file-message").text("File Upload Operation is Successful").addClass("alert alert-success");
            }
        });
    }


</script>

</body>
</html>