<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="header">
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="logo"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/}">Heart Disease</a>
                    </li>

                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/dataset-info}">Dataset Information</a>
                    </li>


                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/normalise-dataset}">Normalise Data</a>
                    </li>
                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/data-visualisation}">Data Visualization</a>
                    </li>

                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/train-test}">Train and Test NN</a>
                    </li>

                    <li sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/compare-algo}">Compare Algorithms</a>
                    </li>



                    <li sec:authorize="hasAuthority('PATIENT')">
                        <a th:href="@{/heart-disease}">Diagnose</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{#}"><span sec:authentication="name"></span> </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Sign In</a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>