<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/uploadcss.css}"/>
    <link href="css/jquery.timepicker.css"
          th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>
    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Cervical Cancer Prediction</title>
    
</head>
<body>
<th:block th:replace="fragments/header :: header"/>
<div class="container">
    <th:block layout:fragment="content"/>
</div>
<th:block th:replace="fragments/footer :: footer"/>


<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script src="/js/highcharts.js" ></script>
<script src="/js/exporting.js" ></script>


<script src="/js/upload_file.js"></script>
<script src="/js/trainingComplete.js"></script>


</body>
</html>