<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      >
<head>
    <meta charset="UTF-8">
    <title>Cervical Cancer Prediction || Neural Netgrap errr Graph</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/uploadcss.css}"/>
    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />
    <!--<script-->
            <!--src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
    <!--<script src="http://code.highcharts.com/highcharts.js"></script>-->
    <!--<script src="http://code.highcharts.com/modules/exporting.js"></script>-->




    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>

    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-more.js"></script>
    <script src="/js/highcharts-exporting.js"></script>


    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="logo"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/}">Home</a>
                    </li>

                    <li>
                        <a th:href="@{/dataset-info}">Dataset Information</a>
                    </li>


                    <li>

                        <a th:href="@{/analyse-dataset}">Missing Values</a>
                    </li>

                    <li>
                        <a th:href="@{/train-test}">Train and Test NN</a>
                    </li>


                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{#}"><span sec:authentication="name"></span> </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Sign In</a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>
    <body >


    <div class="row" style="margin-bottom:30px">
        <div class="col-md-6" style="margin-top:20px">
            <div id="neuralnetworkgraph" style="width:100%; height:400px;"></div>
        </div>
        <div class="col-md-6" style="margin-top:20px">
            <div id="salesByRegion" style="width:100%; height:400px;">

                <h2>Neural Network Accuracy</h2>>
                <input type="hidden" id = "score" th:value="${accuracy}">
                <div id="container"style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>
            </div>
        </div>
    </div>


    <!--<div id="neuralnetworkgraph" style="min-width: 310px; height: 400px; margin: 0 auto"></div>-->

    <script th:inline="javascript">
        /*<![CDATA[*/
        $(function () {
            Highcharts.setOptions({
                lang: {
                    decimalPoint: '.',
                    thousandsSep: ','
                }
            });

            drawNeuralNetworkErrorGraph();
        });



        function drawNeuralNetworkErrorGraph() {
            var neuralNetworkErrorChart = Highcharts.chart('neuralnetworkgraph', {

                tooltip: {
                    crosshairs: true
                },
                chart: {
                    type: 'line',
                    margin: 75,
                    options3d: {
                        enabled: true,
                        alpha: 15,
                        beta: 15,
                        depth: 110
                    }
                },
                title: {
                    text: 'Plot of Errors'
                },
                xAxis: {
                    categories: /*[[${iterations}]]*/ []
                },
                yAxis: {
                    title: {
                        text: 'Error'
                    }
                },
                tooltip: {
                    crosshairs: [true,true]
                },
                plotOptions: {
                    column: {
                        depth: 60,
                        stacking: true,
                        grouping: false,
                        groupZPadding: 10
                    }
                },
                series: [{
                    name: 'NeuralNetwork',
                    data: /*[[${errors}]]*/ []
                }]
            });
        }



    </script>

    <script>


        $(function () {



            $('#container').highcharts({

                    chart: {
                        type: 'gauge'
                    },

                    title: {
                        text: 'Neural Network Accuracy'
                    },

                    pane: {
                        startAngle: -90,
                        endAngle: 90,
                        background: null
                    },

                    // the value axis
                    yAxis: {
                        min: 0,
                        max: 100,

                        minorTickInterval: 'auto',
                        minorTickWidth: 1,
                        minorTickLength: 10,
                        minorTickPosition: 'inside',
                        minorTickColor: '#666',

                        tickPixelInterval: 30,
                        tickWidth: 2,
                        tickPosition: 'inside',
                        tickLength: 10,
                        tickColor: '#666',
                        labels: {
                            step: 2,
                            rotation: 'auto'
                        },
                        title: {
                            text: '%'
                        },
                        plotBands: [{
                            from: 0,
                            to: 49,
                            color: '#DF5353' // red
                        }, {
                            from: 50,
                            to: 69,
                            color: '#DDDF0D' // yellow
                        }, {
                            from: 70,
                            to: 100,
                            color: '#55BF3B' // gr
                        }, {
                            from: 45,
                            to: 55,
                            color: '#6677ff',
                            innerRadius: '100%',
                            outerRadius: '110%'
                        }]
                    },

                    series: [{
                        name: 'Score',
                        data: [0],
                        tooltip: {
                            valueSuffix: ' %'
                        }
                    }]

                },
                // Add update  life
                function (chart) {


                    if (!chart.renderer.forExport) {
                        var point = chart.series[0].points[0],
                            newVal,inc= $('#score').val() * 100;



                        newVal = Math.round(point.y + inc);




                        if (newVal < 0 || newVal > 100) {
                            newVal = point.y - inc;
                        }
                        point.update(newVal);

                    }
                });
        });

    </script>

    <footer>
        <div class="container">
            <p>
                <span  style="display: inline-block;">

                       &copy; 2018 Cervical Cancer Prediction
                </span>
            </p>
        </div>
    </footer>

    </body>

</html>