<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Cervical Cancer Prediction || Dataset Information</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/uploadcss.css}"/>
    <link th:href="@{/assets/pages/css/profile.min.css}" rel="stylesheet" type="text/css" />

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>

    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-more.js"></script>
    <script src="/js/highcharts-exporting.js"></script>
</head>
<body>
<br/>
<br/>
<div layout:fragment="content" th:remove="tag">


    <div class="row" style="margin-bottom:30px">
        <div class="col-md-11" style="margin-top:20px">
            <h2>Heart Disease Data Set</h2>
            <p>DataSet obtained from the Cleveland database, contains 14 attributes and 303 instances:</p>
            <table id="attributetable" class="table table-dark table-hover">
                <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Min Value</th>
                    <th>Max Value</th>
                    <th>Description</th>
                    <th>Importance</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Age</td>
                    <td>29</td>
                    <td>77</td>
                    <td>Age in years</td>
                    <td th:text="${age}"></td>
                </tr>

                <tr>
                    <td>Sex</td>
                    <td>0</td>
                    <td>1</td>
                    <td>Male <-- 1, Feamle <--0</td>
                    <td th:text="${sex}"></td>
                </tr>

                <tr>
                    <td>CP</td>
                    <td>0</td>
                    <td>3</td>
                    <td>Chest Pain Type</td>
                    <td th:text="${cp}"></td>
                </tr>
                <tr>
                    <td>trestbps</td>
                    <td>94</td>
                    <td>200</td>
                    <td>Resting blood Pressure (in mm Hg) on admission to the hospital</td>
                    <td th:text="${trestbps}"></td>
                </tr>
                <tr>
                    <td>chol</td>
                    <td>126</td>
                    <td>564</td>
                    <td>serum cholesterol in mg/dl </td>
                    <td th:text="${chol}"></td>
                </tr>
                <tr>
                    <td>fbs</td>
                    <td>0</td>
                    <td>1</td>
                    <td>fasting blood sugar > 120 mg/dl (1 = true; 0 = false)</td>
                    <td th:text="${fbs}"></td>
                </tr>
                <tr>
                    <td>restecg</td>
                    <td>0</td>
                    <td>2</td>
                    <td>resting electrocardiographyresults</td>
                    <td th:text="${restecg}"></td>
                </tr>
                <tr>
                    <td>thalach</td>
                    <td>71</td>
                    <td>202</td>
                    <td>maximum heart rate achieved </td>
                    <td th:text="${thalach}"></td>
                </tr>
                <tr>
                    <td>exang</td>
                    <td>0</td>
                    <td>1</td>
                    <td>exercise induced angina (1 = yes; 0 = no) </td>
                    <td th:text="${exang}"></td>
                </tr>
                <tr>
                    <td>oldpeak</td>
                    <td>0</td>
                    <td>6.2</td>
                    <td>ST depression induced by exercise relative to rest</td>
                    <td th:text="${oldpeak}"></td>
                </tr>
                <tr>
                    <td>slope</td>
                    <td>0</td>
                    <td>2</td>
                    <td>the slope of the peak exercise ST segment </td>
                    <td th:text="${slope}"></td>
                </tr>
                <tr>
                    <td>ca</td>
                    <td>0</td>
                    <td>4</td>
                    <td>number of major vessels (0-3) colored by flourosopy </td>
                    <td th:text="${ca}"></td>
                </tr>
                <tr>
                    <td>thal</td>
                    <td>0</td>
                    <td>3</td>
                    <td>3 = normal; 6 = fixed defect; 7 = reversable defect</td>
                    <td th:text="${thal}"></td>
                </tr>
                <tr>
                    <td>target</td>
                    <td>0</td>
                    <td>1</td>
                    <td>cancer <-- 1, no cancer <--0</td>
                    <td th:text="${target}"></td>
                </tr>

                </tbody>
            </table>

        </div>

</div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    Highcharts.chart('attributes', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Monthly Average Rainfall'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Rainfall (mm)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Tokyo',
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

        }, {
            name: 'New York',
            data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

        }, {
            name: 'London',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]

        }, {
            name: 'Berlin',
            data: [42.4, 33.2, 34.5, 39.7, 52.6, 75.5, 57.4, 60.4, 47.6, 39.1, 46.8, 51.1]

        }]
    });

    /*]]>*/
</script>
</body>
</html>