
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Heart Disease || Symptoms</title>

    <link rel="stylesheet" th:href ="@{/css/css/bootstrap.css}"/>

    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet"/>

    <link href="css/jquery.timepicker.css"
          th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>



    <script	src="/js/bootstrap.min.js"></script>

</head>
<body>


<div class="bs-example" >
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="logo"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/}">Home</a>
                    </li>

                    <li>
                        <a th:href="@{/heart-disease}">Prediction</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{#}"><span sec:authentication="name"></span> </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Sign In</a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<br/>
<br/>
<div layout:fragment="content" th:remove="tag">
    <div class="row" style="margin-bottom:30px">
        <div class="col-md-11" style="margin-top:20px">
            <h2>Heart Disease Data Set</h2>
            <p>Experiments Table</p>
            <table class="table table-bordered table-striped table-inverse" style="opacity: 0.9;background-color: white">
                <br/>
                <span th:utext="${successMessage}" class="text-success"></span>
                <caption style="color: white">Experiments</caption>
                <thead>
                <tr style="background-color: blue;color: #ffffff">
                    <th scope="col">Missing Data</th>
                    <th scope="col">Algorithm</th>
                    <th scope="col">Accuracy</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="experiment : ${experiments}">
                    <td th:text="${experiment.percentageMissing}">George</td>
                    <td th:text="${experiment.algorithmName}">Washington</td>
                    <td th:text="${experiment.accuracy}">gwash</td>

                </tr>
                </tbody>
            </table>
        </div>

</body>
</div>

</body>
</html>