<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Cervical Cancer Prediction || Home</title>
    <script>
        $(document).ready(function () {
            $('table.display').DataTable();
        });

    </script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/jquery.dataTables.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>


    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.dataTables.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        .green_dot {
            height: 25px;
            width: 25px;
            background-color: #1CA347;
            border-radius: 50%;
            display: inline-block;
        }

        .yellow_dot {
            height: 25px;
            width: 25px;
            background-color: #9a943a;
            border-radius: 50%;
            display: inline-block;
        }

        .red_dot {
            height: 25px;
            width: 25px;
            background-color: #8b130f;
            border-radius: 50%;
            display: inline-block;
        }
    </style>
</head>
<body>
<br/>
<br/>
<div layout:fragment="content" th:remove="tag">
    <div class="row">

        <div class="col-mid-3" style="float: left">


            <div class="panel panel-default">
                <div class="panel-heading">Panel Heading</div>
                <div class="panel-body">
                    <div class="row" th:object="${user}">

                        <div class="col-md-6">
                            <table class="table" >
                                <tr>
                                    <th>Age : </th><td> <span th:text="${user?.username}"></span></td>
                                </tr>

                                <tr>
                                    <th>Age : </th><td> <span th:text="${user?.age}"></span></td>
                                </tr>

                                <tr>
                                    <th>Email : </th><td> <span th:text="${user?.email}"></span></td>
                                </tr>

                            </table>
                        </div>

                    </div>
                </div>
            </div>



        </div>

        <div class="col-md-9" style="float: right">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#predictions">Prediction List</a></li>
            </ul>
            <div class="tab-content">

                <div class="container">
                    <div class="jumbtron">
                        <div id="predictions" class="tab-pane fade in active">
                            <table class="display" cellspacing="0" width="80%">
                                <caption>Prediction History</caption>
                                <thead>
                                <tr style="background-color: transparent">
                                    <th scope="col">Prediction Date</th>
                                    <th scope="col">Results</th>
                                    <th scope="col">Confidence Risk(%)</th>
                                    <th scope="col">Key</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="prediction : ${predictionList}">
                                    <td th:text="${prediction?.predictionDate}">George</td>

                                    <td th:text="${prediction?.result}">George</td>

                                    <td  th:text="${#numbers.formatDecimal((prediction?.confidence),0,2,'POINT')}">

                                    <td>
                                        <span th:class="${prediction?.color}"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>



            </div>
        </div>





    </div>

</div>

</body>
</html>