<!DOCTYPE html>
<html  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       xmlns:th="http://www.thymeleaf.org"
       layout:decorate="~{fragments/layout}">
<body>

<link rel="stylesheet" type="text/css" th:href="@{/css/css/bootstrap.css}"/>
<!------ Include the above in your HEAD tag ---------->

<div class="container" layout:fragment="content" th:remove="tag">
    <div class="row">
        <div class="col-md-6" style="float: left">
            <h1><span align="center" th:utext="${company.name}" ></span></h1>
        </div>

    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-login">
                <div class="panel-heading">

                    <hr>
                </div>

                <div class="panel-body">

                    <div class="row">
                        <div class="col-lg-12">

                            <span th:utext="${msg}" class="text-success"></span>
                            <div class="col-lg-7" style="float: left">

                                <div class="row-area" th:each="banner: ${banners}">
                                    <div class="col-md-3 col-sm-4 col-xs-6"><img class="img-responsive" th:src="@{'~/'+ ${banner.path}}" /></div>
                                </div>

                            </div>

                            <div class="col-lg-4" style="float: right">

                                <table class="table">
                                    <tr>
                                        <td>Name</td>
                                        <td th:text="${company.name}">Name</td>

                                    </tr>
                                    <tr>
                                        <td>Category</td>
                                        <td th:text="${company.businessCategory.name}">Category</td>

                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td th:text="${company.email}">Email</td>

                                    </tr>
                                    <tr>
                                        <td>Phone</td>
                                        <td th:text="${company.telePhone}">Phone</td>
                                    </tr>
                                    <tr>
                                        <td>Address</td>
                                        <td th:text="${company.address}">Address</td>
                                    </tr>
                                    <tr>
                                        <td>Website</td>
                                        <td th:text="${company.webAddress}">Website</td>
                                    </tr>
                                </table>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>