<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Heart Disease || Symptoms</title>

    <link rel="stylesheet" th:href ="@{/css/css/bootstrap.css}"/>

    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet"/>

    <link href="css/jquery.timepicker.css"
          th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>



    <script	src="/js/bootstrap.min.js"></script>



</head>
<body>

<div class="bs-example" >
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="logo"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/}">Home</a>
                    </li>

                    <li>
                        <a th:href="@{/heart-disease}">Prediction</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{#}"><span sec:authentication="name"></span> </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Sign In</a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">

                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form autocomplete="off" action="#" th:action="@{/save-prediction}"
                                  th:object="${symptoms}"  method="post" role="form" style="display: block;">




                                <div class="col-sm-9">
                                    <input type="hidden" th:field="*{id}"/>
                                </div>


                                <div class="form-group">

                                        <input type="number" step="any" th:field="*{age}" id ="age"
                                               placeholder="Age" class="form-control"/>

                                </div>


                                <div class="form-group">

                                    <label> 1 - male, 0 -female</label>
                                    <input type="number" step="any" th:field="*{sex}" id ="sex"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <label> 1, 2, 3,4 </label>
                                    <input type="number" step="any" th:field="*{cp}" id ="cp"
                                           placeholder="Chest pain Type" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{trestbps}" id ="trestbps"
                                           placeholder="Resting Blood Prssure" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>
                                <div class="form-group">

                                    <input type="number" step="any" th:field="*{age}" id ="age"
                                           placeholder="Age" class="form-control"/>

                                </div>



                                <div class="form-group">

                                        <button type="submit"class="btn btn-primary ">Predict</button>

                                </div>




                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.date').datepicker({dateFormat: 'dd-mm-yy'});
    });


</script>

</body>
</html>






