<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>DB ||User Reg</title>

    <link rel="stylesheet" th:href ="@{/css/css/bootstrap.css}"/>

    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet"/>

    <link href="css/jquery.timepicker.css"
          th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>



    <script	src="/js/bootstrap.min.js"></script>



</head>
<body>

<div class="bs-example" >
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/img/logo.png}" alt="logo"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/}">Home</a>
                    </li>

                    <li>
                        <a th:href="@{/dataset-info}">Dataset Information</a>
                    </li>


                    <li>
                        <a th:href="@{/normalise-dataset}">Normalise Data</a>
                    </li>
                    <li>
                        <a th:href="@{/data-visualisation}">Data Visualization</a>
                    </li>

                    <li>
                        <a th:href="@{/train-test}">Train and Test NN</a>
                    </li>

                    <li>
                        <a th:href="@{/heart-disease}">Prediction</a>
                    </li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{#}"><span sec:authentication="name"></span> </a>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a th:href="@{/login}">Sign In</a>
                    </li>

                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">

                    <hr>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form autocomplete="off" action="#" th:action="@{/registration}"
                                  th:object="${user}"  method="post" role="form" style="display: block;">
                                <!--     <h2 align="center">Registration Form</h2>-->



                                <h3 style="text-align:left">REGISTRATION</h3>


                                <div class="form-group">
                                    <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                           class="validation-message"></label>
                                    <input type="text" th:field="*{username}" id ="lastName"
                                           placeholder="Last Name" class="form-control"/>
                                    <input type="hidden" th:field="*{id}"/>
                                </div>




                                <div class="form-group" >

                                        <label th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"
                                               class="validation-message"></label>
                                        <input  th:field="*{dob}" name="dateRegistered" id ="dob"
                                                placeholder="DOB" class="form-control date"/>



                                </div>


                                <div class="form-group">

                                        <input type="text" th:field="*{email}" placeholder="Email" id="email"
                                               class="form-control"/> <label
                                            th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                            class="validation-message"></label>
                                </div>


                                <div class="form-group">

                                        <input type="password" th:field="*{password}"id="pass"
                                               placeholder="Password" class="form-control"/> <label
                                            th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                            class="validation-message"></label>
                                </div>

                                <div class="form-group ">

                                        <select id="roles" class="form-control" th:field="*{roles}">
                                            <option th:each="role : ${roleList}"
                                                    th:value="${{role}}"
                                                    th:text="${role.name}">
                                                Cinema
                                            </option>
                                        </select>

                                </div>

                                <div class="form-group">


                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login btn-primary" value="Register">
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.date').datepicker({dateFormat: 'dd-mm-yy'});
    });


</script>

</body>
</html>






