<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Cervical Cancer Prediction || Search</title>
</head>
<body>
<br/>
<br/>
<div layout:fragment="content" th:remove="tag">
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <form class="form-horizontal"  th:action="@{/search}" method="post">
                        <br/>

                        <div class="row">



                            <div class="col-sm-9">
                                <input type="text" autofocus="true" name="searchTerm"
                                       id="auto"
                                       placeholder="Search By Company Name, Cervical Cancer Prediction, Company Services"
                                       class="form-control"  />


                            </div>
                            <button  value="Search"
                                     class="btn  btn-primary" >Search</button>
                        </div>

                        <!--<div class="row">-->
                        <!--<input type="submit" value="Search" th:value="Search"-->
                        <!--class="btn btn-default" />-->
                        <!--</div>-->
                    </form>
                    <div th:if="${not #lists.isEmpty(search)}">
                        <p style="text-align: center; color: #08088A; font-size: 16px;">Search Results </p>
                        <div class="jumbotron">

                            <table id="usersList" class="display" cellspacing="0" width="100%" style="opacity: 0.9">
                                <br/>

                                <thead>
                                <tr>
                                    <th scope="col"> Name</th>
                                    <th scope="col"> Category</th>
                                    <th scope="col"> Email</th>
                                    <th scope="col"> Phone</th>
                                    <th scope="col"> Address</th>
                                    <th scope="col"> Website</th>

                                    <th scope="col">Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="company : ${search}">
                                    <td th:text="${company.name}">Name</td>
                                    <td th:text="${company.businessCategory.name}">Category</td>
                                    <td th:text="${company.email}">Email</td>
                                    <td th:text="${company.telePhone}">Phone</td>
                                    <td th:text="${company.address}">Address</td>
                                    <td th:text="${company.webAddress}">Website</td>

                                    <td>

                                        <a th:href="@{'/search-view/' + ${company.id} }"
                                           class="btn btn-primary">View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>