<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>DP||Patient:Registration</title>

    <link rel="stylesheet" th:href ="@{/css/bootstrap.min.css}"/>

    <link href="css/registration.css"
          th:href="@{/css/registration.css}" rel="stylesheet"/>

    <link href="css/jquery.timepicker.css"
          th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"/>

    <link href="css/jquery-ui.css"
          th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>

    <script	src="/js/jquery.js"></script>

    <script src="/js/jquery-ui.js"></script>

    <script src="/js/highcharts.js"></script>
    <script src="/js/highcharts-more.js"></script>
    <script src="/js/highcharts-exporting.js"></script>



    <script	src="/js/bootstrap.min.js"></script>
    <link rel = "stylesheet" href = "bootstrap.css" />


</head>
<body>

<div class="bs-example" >
    <nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background-color: #00008B">

        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse"
                        data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span> <span
                        class="icon-bar"></span> <span class="icon-bar"></span> <span
                        class="icon-bar"></span>
                </button>
                <a style="color: white" href="/home" class="navbar-brand">Diabete Prediction</a>
                <span th:utext="${userName}" class="navbar-brand glyphicon glyphicon-user"></span>
            </div>

            <!-- Collection of nav links and other content for toggling -->
            <div sec:authorize="hasAuthority('ADMIN')" id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">


                    <li><a style="color: white" href="/logout"><span
                            class="glyphicon glyphicon-user"></span>Logout </a></li>
                </ul>
            </div>



        </div>
    </nav>
</div>
<br/>
<br/>
<br/>

<header class="container">
    <div align="center">

        <div class="jumbotron">

            <div class="row" th:if="${#strings.isEmpty(successMessage)}">

                <div th:class="${css} + 'alert-dismissible'" role="alert">
                    <button type="button" class="close" data-dismiss="alert"
                            aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <strong> <span th:utext="${successMessage}"></span></strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <form autocomplete="off" action="#"
                          th:object="${symptoms}" method="post" class="form-horizontal"
                          role="form">
                        <!--     <h2 align="center">Registration Form</h2>-->



                        <h4 style="text-align:left">Capture Symptoms:  <span th:utext="${patient?.firstName + ' '+patient?.lastName}"></span></h4>



                            <div class="col-sm-9">
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden"  name ="patientId" th:value="${patient.id}"/>
                                <input type="hidden" th:field="*{age}" th:value="${patient}"/>
                            </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('pregnancies')}" th:errors="*{pregnancies}"
                                       class="validation-message">Number Of Pregnancies</label><label>Number Of Pregnancies</label>
                                <input type="number" th:field="*{pregnancies}" id ="pregnancies" min="0"
                                       placeholder="Pregnancies" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('glucose')}" th:errors="*{glucose}"
                                       class="validation-message"></label><label>Glucose Level</label>
                                <input type="number" th:field="*{glucose}" id ="glucose" min="0"
                                       placeholder="Glucose" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('bloodPressure')}" th:errors="*{bloodPressure}"
                                       class="validation-message"></label><label>Blood Pressure</label>
                                <input type="number" th:field="*{bloodPressure}" id ="bloodPressure" min=""
                                       placeholder="B.P" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('skinThickness')}" th:errors="*{skinThickness}"
                                       class="validation-message"></label><label>Triceps Skin Thickness</label>
                                <input type="number" step="any" th:field="*{skinThickness}" id ="skinThickness"
                                       placeholder="Skin Thickness" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('insulin')}" th:errors="*{insulin}"
                                       class="validation-message"></label><label>Insulin Level</label>
                                <input type="number" step="any" th:field="*{insulin}" id ="insulin"
                                       placeholder="Insulin" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('BMI')}" th:errors="*{BMI}"
                                       class="validation-message"></label><label>Body Mass Index</label>
                                <input type="number" step="any" th:field="*{BMI}" id ="BMI"
                                       placeholder="BMI" class="form-control"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-sm-9">
                                <label th:if="${#fields.hasErrors('diabetesPedigreeFunction')}" th:errors="*{diabetesPedigreeFunction}"
                                       class="validation-message"></label><label>Diabetes Pedigree Function</label>
                                <input type="number" step="any" th:field="*{diabetesPedigreeFunction}" id ="diabetesPedigreeFunction"
                                       placeholder="diabetesPedigreeFunction" class="form-control"/>
                            </div>
                        </div>



                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit" formaction="/classify-symptoms" class="btn btn-primary ">Predict</button>
                                <a th:href="@{'/addsymptoms/patient_id'(patient_id=${patient.id})}"class="btn btn-warning ">Clear</a>
                                <a th:href="@{'/patient/id'(id=${patient.id})}" class="btn btn-danger ">Back</a>
                            </div>
                        </div>

                    </form>
                </div>


                <div class="col-md-6 ">
                    <form autocomplete="off" action="/save-diagnosis"
                          th:object="${diagnosis}" method="post" class="form-horizontal"
                          role="form">

                        <input type="hidden" th:field="*{id}"/>
                        <input type="hidden" th:field="*{diagnosisDate}"/>
                        <input type="hidden" th:field="*{result}"/>
                        <input type="hidden" th:field="*{score}"/>
                       <input type="hidden" th:field="*{patient}"/>
                        <input type="hidden"  name ="symptoms" th:value="${symptoms}"/>

                        <input type="hidden"  name ="patientId" th:value="${patient.id}"/>

                        <input type="hidden" id ="diagnosis_object" th:value="${diagnosis}">

                        <input type="hidden" id = "patient_name" th:value="${diagnosis?.patient?.firstName + ' '+diagnosis?.patient?.firstName }">

                        <input type="hidden" id = "result" th:value="${diagnosis?.result}">

                        <input type="hidden" id = "score" th:value="${diagnosis?.score}">

                        <input type="hidden" id = "diagnosisDate" th:value="${diagnosis?.diagnosisDate}">



                        <div id="container" style="min-width: 310px; max-width: 400px; height: 300px; margin: 0 auto"></div>


                        <br/>
                        <br/>
                        <div class="form-group">
                            <div class="col-sm-9">
                                <button type="submit"   class="btn btn-danger ">Save Diagnosis</button>

                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</header>

<script>
    $(document).ready(function () {
        $('.date').datepicker({dateFormat: 'dd-mm-yy'});
    });


</script>

<script>


    $(function () {



        $('#container').highcharts({

                chart: {
                    type: 'gauge'
                },

                title: {
                    text: 'Diabetes Risk'
                },

                pane: {
                    startAngle: -90,
                    endAngle: 90,
                    background: null
                },

                // the value axis
                yAxis: {
                    min: 0,
                    max: 100,

                    minorTickInterval: 'auto',
                    minorTickWidth: 1,
                    minorTickLength: 10,
                    minorTickPosition: 'inside',
                    minorTickColor: '#666',

                    tickPixelInterval: 30,
                    tickWidth: 2,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#666',
                    labels: {
                        step: 2,
                        rotation: 'auto'
                    },
                    title: {
                        text: '%'
                    },
                    plotBands: [{
                        from: 0,
                        to: 40,
                        color: '#55BF3B' // green
                    }, {
                        from: 41,
                        to: 49,
                        color: '#DDDF0D' // yellow
                    }, {
                        from: 50,
                        to: 100,
                        color: '#DF5353' // red
                    }, {
                        from: 45,
                        to: 55,
                        color: '#6677ff',
                        innerRadius: '100%',
                        outerRadius: '110%'
                    }]
                },

                series: [{
                    name: 'Risk',
                    data: [0],
                    tooltip: {
                        valueSuffix: ' %'
                    }
                }]

            },
            // Add update  life
            function (chart) {


                if (!chart.renderer.forExport) {
                    var point = chart.series[0].points[0],
                        newVal,inc= $('#score').val();

                        // take value from diagnosis



                    newVal = Math.round(point.y + inc);


                    console.log("value of new value" + newVal);
                    if (newVal < 0 || newVal > 100) {
                        newVal = point.y - inc;
                    }

                    point.update(newVal);

                }
            });
    });

</script>

</body>
</html>